
.swiper-button-prev,
.swiper-button-next {
  color: #8b8a88 !important; 
  font-size: 40px !important; 
  transform: scale(2.2);  
  font-weight: 100 !important;
}

.swiper-button-prev {
  left: 10px !important;
  z-index: 999;
}
.swiper-button-next {
  right: 10px !important;
  
}

.swiper-button-prev::after,
.swiper-button-next::after {
  border: none !important;
}
